section
{
    color: white;
    background-color: springgreen;
}

h1
{
    text-align: center;
}

h2
{
    font-size: 50px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: bold;
}

p1
{
    Margin: 200px 50px 100px 50px;
    font-size: 15px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

section1
{
    font-size: 40px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: bold;
}

ul
{
    font-size: 40px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: springgreen;
}

footer
{
    padding: 35px 50px 10px 40px;
    background-color: springgreen;
    height: 220px;
}




.Header
{
    font-size: 80px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: bold;
}



#caption1
{
    font-size: 30px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    color: white;
}

#UT
{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
}

#cats
{
    margin: 30px 100px 40px 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}





section a:link, section a:visited, section a:hover
{
    color: white;
    font-size: 80px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: bold;
}




footer a:link, footer a:visited
{
    background-color: white;
    color: springgreen;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    text-decoration: none;
    display: inline-block;
    width: 225px;
    margin-left: 210px;
    margin-top: 15px;
}

footer a:hover
{
    background-color: black;
    color: white;
}

