header
{
    text-align: center;
    color: white;
    background-color: springgreen;
}

sec
{
    Margin: 200px 50px 100px 50px;
    font-size: 15px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

main
{
    padding: 50px 50px 10px 20px;
    font-size: 20px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: bold;
    background-color: white;
}

footer
{
    padding: 35px 50px 10px 50px;
    background-color: springgreen;
}




.Header
{
    font-size: 80px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-weight: bold;
}




#watermelon
{
    text-align: center;
    margin-top: 20px;
}

#caption
{
    font-weight: bold;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    text-align: center;
}

#caption1
{
    font-size: 30px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    color: white;
}





a:link, a:visited
{
    background-color: white;
    color: springgreen;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    text-decoration: none;
    display: inline-block;
    width: 225px;
    margin-left: 210px;
    margin-top: 15px;
}

a:hover
{
    background-color: black;
    color: white;
}