<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="links.css" rel="stylesheet">
        <title>Taqi</title>
    </head>
    <body>
    <section>
        <h1>
            <p class = "Header">
                <a href="index.html">Taqi Hossain</a>
            </p>
            <p1>
                <p>
                    <q>He's a professional badass.</q>
                </p>
                <p style = "font-size: 13px;">
                    - Bill Gates
                </p>
            </p1>
        </h1>
        <h2>
            Cats
        </h2>
    </section>
        <section1>
            Meet my two cats: Thom and Kenji
            <p id = "cats">
                <img src="Thom.JPG" alt="Thom" style="width:375px;height:667px;">
                <img src="kenji.jpeg" alt="Kenji" style="width:375px;height:667px;">
            </p>
        </section1>
        <footer>
            <p>
                <b id = "caption1">Check out Taqi's:</b>
            </p>
            <a href="hobbies.html">Hobbies</a>
            <a href="future.html">Future Plans</a>
            <a href="cats.html">Cats</a>
        </footer>
    </body>
</html>
